@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --purple: #43338e;
  --yellow: #f6d330;
  --white: #fff;
  --grey: #f5f5f5f5;
  --black1: #222;
  --black2: #999;
}

@layer components {
  .navItem {
    /* try 30px radius */
    @apply relative w-full list-none rounded-tl-[30px] rounded-bl-[30px] hover:bg-white;
  }
  .navLink {
    @apply relative w-full flex no-underline text-white hover:text-primary;
  }
  .navIcon {
    @apply relative flex min-w-[60px] h-[60px] leading-[70px] items-center justify-center;
  }
  .navSvg {
    @apply h-8 w-8;
  }
  .navTitle {
    @apply relative block py-0 px-[10px] h-[60px] leading-[60px] text-left whitespace-nowrap;
  }
}
