@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --purple: #43338e;
  --yellow: #f6d330;
  --white: #fff;
  --grey: #f5f5f5f5;
  --black1: #222;
  --black2: #999;
}

@layer components {
  .navItem {
    @apply relative w-full list-none rounded-tl-[30px] rounded-bl-[30px] hover:bg-white;
  }
  .navLink {
    @apply relative w-full flex no-underline text-white hover:text-primary;
  }
  .navIcon {
    @apply relative flex min-w-[60px] h-[60px] leading-[70px] items-center justify-center;
  }
  .navSvg {
    @apply h-8 w-8;
  }
  .navTitle {
    @apply relative block py-0 px-[10px] h-[60px] leading-[60px] text-left whitespace-nowrap;
  }
  .curverOutside {
    @apply hover:after:content-[''] hover:after:absolute hover:after:right-0 hover:after:bottom-[-50px]
    hover:after:w-[50px] hover:after:h-[50px] hover:after:rounded-full
    hover:after:shadow-curveShadowAfter hover:after:pointer-events-none hover:after:bg-transparent
    hover:before:content-[''] hover:before:absolute hover:before:right-0 hover:before:top-[-50px]
    hover:before:w-[50px] hover:before:h-[50px] hover:before:rounded-full
    hover:before:shadow-curveShadowBefore hover:before:pointer-events-none hover:before:bg-transparent;
  }
  .curverOutsideBis {
    @apply after:content-[''] after:absolute after:right-0 after:bottom-[-50px]
    after:w-[50px] after:h-[50px] after:rounded-full
    after:shadow-curveShadowAfter after:pointer-events-none after:bg-transparent
    before:content-[''] before:absolute before:right-0 before:top-[-50px]
    before:w-[50px] before:h-[50px] before:rounded-full
    before:shadow-curveShadowBefore before:pointer-events-none before:bg-transparent;
  }
  .cardKpi {
    @apply relative bg-white p-5 rounded-3xl flex justify-between cursor-pointer shadow-card;
  }
  .kpiValue {
    @apply relative font-bold text-2xl text-primary;
  }
  .kpiLabel {
    @apply text-black2 text-sm mt-5;
  }
  .kpiIcon {
    @apply h-10 w-10 text-black2;
  }
  .deliveredStatus {
    @apply py-[2px] px-1 bg-[#8de02c] text-white rounded-md text-sm font-medium;
  }
  .inProgressStatus {
    @apply py-[2px] px-1 bg-[#1795ce] text-white rounded-md text-sm font-medium whitespace-nowrap;
  }
  .returndStatus {
    @apply py-[2px] px-1 bg-[#f00] text-white rounded-md text-sm font-medium;
  }
  .pendingStatus {
    @apply py-[2px] px-1 bg-[#f9ca3f] text-white rounded-md text-sm font-medium;
  }
  .imgBx {
    @apply relative w-[40px] h-[40px] rounded-full overflow-hidden;
  }
  .hoverEffect {
    @apply bg-primary text-white;
  }
}
